<configuration>
    <appender name="FILLS" class="ch.qos.logback.core.FileAppender">
        <filter class="models.FillsFilter" />
        <file>logs/fills.log</file>
        <append>false</append>
        <encoder>
            <pattern>%X{akkaTimestamp} %-5level[%thread] %logger{1} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ORDERS" class="ch.qos.logback.core.FileAppender">
        <filter class="models.OrdersFilter" />
        <file>logs/orders.log</file>
        <append>false</append>
        <encoder>
            <pattern>%date{yyyy-MM-dd} %X{akkaTimestamp} %-5level[%thread] %logger{1} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="TRANSACTIONS" class="ch.qos.logback.core.FileAppender">
        <filter class="models.TransactionsFilter" />
        <file>logs/transactions.log</file>
        <append>false</append>
        <encoder>
            <pattern>%date{yyyy-MM-dd} %X{akkaTimestamp} %-5level[%thread] %logger{1} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILLS" />
    </root>
    <root level="INFO">
        <appender-ref ref="ORDERS" />
    </root>

    <root level="INFO">
        <appender-ref ref="TRANSACTIONS" />
    </root>

</configuration>